@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-700 antialiased dark:bg-slate-900 dark:text-slate-300;
  }
}

@layer utilities {
  .gradient-primary {
    background: linear-gradient(135deg, #f8fafc 0%, #06b6d4 100%);
  }
  .dark .gradient-primary {
    background: linear-gradient(135deg, #0f172a 0%, #06b6d4 100%);
  }
  
  .gradient-secondary {
    background: linear-gradient(135deg, #0891b2 0%, #67e8f9 100%);
  }
  
  .gradient-accent {
    background: linear-gradient(135deg, #14b8a6 0%, #99f6e4 100%);
  }

  .text-gradient {
    @apply bg-clip-text text-transparent;
  }
}
